@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

$font-primary: "Playfair Display", serif;
$font-secondary: "Rubik", sans-serif;
$light-color: #ffff;
