@use "../core/globals" as global;

.button {
  font-family: global.$font-secondary;
  background-color: global.$primary-color-dark;
  color: global.$light-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 12px;
  border: none;
  padding: 20px;

  &__submit fa-solid fa-arrow-right {
    margin-left: 100px;
  }
  &__submit {
    font-family: global.$font-primary;
  }
  &__next {
    padding: 28px 20px;
  }
}
