@use "../core/globals" as global;

.main-title {
  color: global.$light-color;
  padding-bottom: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 198px;

  &__title {
    font-family: global.$font-primary;
    font-weight: 400;
    padding-bottom: 16px;
  }

  &__subtitle {
    font-family: global.$font-secondary;
    font-weight: 400;
  }
}
